.dropdown:hover .dropdown-menu {
    display: block;
}

#input-search {
    visibility: hidden;
    opacity: 0;
    width: 175px;
    background-color: darkgray;
    color: lightgray;
}

#input-search::placeholder {
    color: lightgray;
}