html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

thead, .fixed-table-header {
    width: 100% !important;
}

.card.sticky-top {
    top: 5rem;
}

#context-menu a:hover {
    background-color: #dedede;
}