#same-category img {
    width: 150px;
    height: 100px;
}

#same-category .card-text {
    display: none;
}

#right-side {
    display: none;
}

#same-category img{
    object-fit: cover;
}

@media (max-width: 576px) {}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {}

@media (min-width: 576px) {
    #same-category img {
        width: 200px;
        height: 133px;
    }
}


@media (min-width: 768px) {}

@media (min-width: 992px) {
    #same-category img {
        width: 300px;
        height: 200px;
    }

    #same-category .card-text {
        display: block;
    }
}

@media (min-width: 1200px) {
    #right-side {
        display: block;
    }
}