.search-filter{
    display: none;
}

.custom-select{
    width: initial;
}

#article-list img{
    width: 180px;
    height: 120px;
    object-fit: cover;
}

em{
    background: #ffffd7;
}

@media (min-width: 768px) {
    .search-filter {
        display: block;
    }
}

