/* Quy định các màu sắc chính trong website */


/* Màu sắc nav bar */
.bg-primary {
    background-color: #003459 !important;
}


/* Màu sắc của các đường link */
a.article-title{
    color: #00171F !important;
    transition: 0.2s;
}

a.article-title:hover{
    color: #00A8E8 !important;
    text-decoration: none;
    transition: 0.4s;
}

#hot-article a.article-title{
    color: #fff !important;
    text-decoration: none;
}

#hot-article a.article-title:hover {
    color: #fff !important;
    text-decoration: underline;
}

.bg-secondary{
    color: #007EA7;
}

.btn.btn-secondary{
    color: #007EA7;
}

.btn.btn-secondary:hover{
    color: #006889;
}

.btn.btn-secondary:active{
    color: #007EA7;
}