<%# contentFor() is defined in express-ejs-layouts %>
<%- contentFor('body') %> 
<h3>This is manage-category page </h3>

<%# relative path with this file in include() %>
<%- include('../some_widget'); %> 