<link rel="stylesheet" href="/stylesheets/manage-tag.css">

<%- contentFor('title') %>
Quản lý nhãn
<%- contentFor('body') %>

<div class="modal" id="addTagModal">
    <div class="modal-dialog">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Thêm nhãn</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form role="form" id="addTagForm" 
            name="tag"  novalidate>
                <div class="form-group row required">
                    <label for="inputTagName" class="col-md-4 col-form-label">Tên nhãn</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="name" id="inputTagNameAdd" spellcheck="false" required>
                    </div>
                </div>

                <div class="form float-right">
                    <button type="submit" class="btn btn-primary btn-submit" >Thêm</button>
                </div>
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">

        </div>
        
        </div>
    </div>
</div>

<div class="modal" id="editTagModal">
    <div class="modal-dialog">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Thêm nhãn</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form role="form" id="editTagForm" 
            name="tag"  novalidate>
                <div class="form-group row required">
                    <label for="inputTagName" class="col-md-4 col-form-label">Tên nhãn</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="name" id="inputTagNameUpdate" spellcheck="false" required>
                    </div>
                </div>

                <div class="form float-right">
                    <button type="submit" class="btn btn-primary btn-submit" >OK</button>
                </div>
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">

        </div>
        
        </div>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-lg-1 p-0">
        <%- include('../_widget/admin-side-nav') %>
    </div>
    <div class="col-lg-10">
            
        <div class="card" id="table-card">
            <div class="card-header h2 bg-secondary text-white text-center">Quản lý nhãn</div>
            <div class="card-body">
                <!-- table -->
                <div class="table-reponsive">
                    <!-- button -->
                    <table id="table" data-toolbar="#toolbar">
                        <div id="toolbar">
                            <div class="justify-content-between">
                                <button id="remove" class="btn btn-danger" disabled="">
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                                <button id="edit" class="btn btn-success">
                                    <i class="fas fa-edit"></i> Sửa
                                </button>
                                <button id="add" class="btn btn-success">
                                    <i class="fas fa-plus"></i>Thêm
                                </button>
                            </div> 
                        </div>
                        
                        <!-- context menu -->
                        <div class="dropdown-menu dropdown-menu-sm " id="context-menu" style="z-index: 1051;">
                            <a class="dropdown-item" id="editItem">Chỉnh Sửa</a>
                            <a class="dropdown-item" id="removeItem">Xóa</a>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>

<script src="/javascripts/manage-tag.js"></script>