<link rel="stylesheet" href="/stylesheets/manage-user.css">
<%- contentFor('title') %>
Quản lý người dùng
<%- contentFor('body') %>
<div class="row justify-content-around">
    <div class="col-lg-1 p-0">
        <div id="mySidenav" class="sticky-top">
            <!-- category -->
            <a href="#" id="category" class="list-group-item list-group-item-action 
                d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-list mr-2 sidenav-before-icon"></i>
                    <span class="font-weight-bold">Chuyên mục</span>
                </div>
                <i  class="fas fa-list mr-2 float-right sidenav-after-icon"></i>
                <span  class="badge badge-light badge-pill float-right sidenav-badge">30</span>
            </a>
            <!-- tag -->
            <a href="#" id="tag" class="list-group-item list-group-item-action 
                d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-tags mr-2 sidenav-before-icon"></i>
                    <span class="font-weight-bold">Nhãn</span>
                </div>
                <i class="fas fa-tags mr-2 float-right sidenav-after-icon"></i>
                <span class="badge badge-light badge-pill sidenav-badge float-right">50</span>
            </a>
            <!-- article -->
            <a href="#" id="article" class="list-group-item list-group-item-action 
                d-flex justify-content-between align-items-center">
                <div>
                    <i class="far fa-newspaper mr-2 sidenav-before-icon"></i>
                    <span class="font-weight-bold">Bài viết</span>
                </div>
                <i class="far fa-newspaper mr-2 float-right sidenav-after-icon"></i>
                <span class="badge badge-light badge-pill sidenav-badge float-right">1245</span>
            </a>
            <!-- user-->
            <a href="#" id="user" class="list-group-item list-group-item-action 
                d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-users mr-2 sidenav-before-icon"></i>
                    <span class="font-weight-bold">Người dùng</span>
                </div>
                <i class="fas fa-users mr-2 float-right sidenav-after-icon"></i>
                <span class="badge badge-light badge-pill sidenav-badge float-right">609</span>
            </a>
        </div>
    </div>
    <div class="col-lg-10">
            
        <div class="card" id="table-card">
            <div class="card-header h2 bg-secondary text-white text-center">Quản lý người dùng</div>
            <div class="card-body">
                <!-- table -->
                <div class="table-reponsive">
                    <!-- button -->
                    <table id="table" data-toolbar="#toolbar">
                        <div id="toolbar">
                            <div class="justify-content-between">
                                <button id="remove" class="btn btn-danger" disabled="">
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                                <button id="edit" class="btn btn-success">
                                    <i class="fas fa-user-edit"></i> Sửa
                                </button>
                                <button id="add" class="btn btn-success">
                                    <i class="fas fa-user-plus"></i>Thêm
                                </button>
                            </div> 
                        </div>
                        
                        <!-- context menu -->
                        <div class="dropdown-menu dropdown-menu-sm " id="context-menu" style="z-index: 1051;">
                            <a class="dropdown-item" id="editItem">Chỉnh Sửa</a>
                            <a class="dropdown-item" id="removeItem">Xóa</a>
                            <a class="dropdown-item" id="assign">Phân công</a>
                            <a class="dropdown-item" id="renew">Gia hạn</a>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>
<script src="/javascripts/manage-user.js"></script>