<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Lỗi: <%= err.code %> </h4>
    <p><%= err.sqlMessage %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>