html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#context-menu a:hover {
    background-color: #dedede;
}
 /* pagination */
.jumpto .form-control {
     vertical-align: middle;
}  

.fixed-table-header {
    height: 90px !important;
}
  
.datepicker-dropdown {
    z-index: 100000 !important;
}