<!-- Modal -->
<div class="modal fade" id="forgotpassModal" tabindex="-1" role="dialog" aria-labelledby="forgotpassModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotpassModalTitle">Khôi phục mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/account/forgot-pass" method="post" name="forgotPassForm" id="forgotPassForm" novalidate>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" name="email" id="resetAccEmail">
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right">Khôi phục</button>
                </form>
            </div>
        </div>
    </div>
</div>