<!-- Nội dung của phần thanh menu, tách ra file riêng để tái sử dụng ở nhiều file html-->
<!-- TODO: https://medium.com/@AmyScript/how-to-reduce-reuse-and-recycle-your-code-389e6742e4ac -->

<nav class="navbar navbar-expand-xl navbar-dark bg-primary rounded">
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <%-'Trang chủ'%>
        </a>

        <!-- Ô tìm kiếm, thay đổi màu sắc ở thẻ button (nếu cần thiết) -->
        <form class="form-inline search-form ml-auto mr-1" id="search-form" action="/search">
            <div class="form-group">
                <input type="search" name="keyword" id="input-search" class="form-control"
                    placeholder="Nội dung tìm kiếm...">
                <button type="button" class="btn btn-secondary" id="search-btn">
                    <i class="fas fa-search center-right"></i>
                </button>
            </div>
        </form>

        <%- include('./account-nav-item') %>
</nav>