<nav aria-label="...">
    <ul class="pagination justify-content-center">

        <li class="page-item disabled" data-direction="prev">
            <span class="page-link">
                <i class="fas fa-chevron-left"></i>
            </span>
        </li>

        <% if (hasNext) { %>
            <li class="page-item" data-direction="next">
        <% } else { %>
            <li class="page-item disabled" data-direction="next">
        <% }; %>
            
            <span class="page-link" href="#">
                <i class="fas fa-chevron-right"></i>
            </span>
        </li>

    </ul>
</nav>