<nav aria-label="...">
    <ul class="pagination justify-content-center">

        <%# Nút previous %> 
        <%# page.prev là biến kiểu Number, == 0 khi không có trang trước đó %>
       
            <li class="page-item disabled">
                <span class="page-link">
                    <i class="fas fa-chevron-left"></i>
                </span>
            </li>
        

        <%# Nút next %> 
        <%# page.next là biến kiểu Number, == 0 khi không có trang sau nó %>
        
            <li class="page-item">
                <a class="page-link" href="#">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>   

    </ul>
</nav>