<link rel="stylesheet" href="/stylesheets/my-posts.css">

<%- contentFor('title') %>
Bài đã viết
<%- contentFor('body') %>

<div class="row justify-content-around">
    <div class="col-lg-1 p-0">

    </div>
    <div class="col-lg-10">
            
        <div class="card" id="table-card">
            <div class="card-header h2 bg-secondary text-white text-center">Danh sách bài đã viết</div>
            <div class="card-body">
                <!-- table -->
                <div class="table-reponsive">
                    <!-- button -->
                    <table id="table" data-toolbar="#toolbar">
                        <div id="toolbar">
                            <div class="justify-content-between">
                                <button id="editBtn" class="btn btn-success" disabled="">
                                    <i class="fa fa-edit"></i> Chỉnh sửa
                                </button>
                            </div> 
                        </div>
                        
                        <!-- context menu -->
                        <div class="dropdown-menu dropdown-menu-sm " id="context-menu" style="z-index: 1051;">
                            <a class="dropdown-item" id="editItem">Chỉnh Sửa</a>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>

<script src="/javascripts/my-posts.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<!-- sweet alert 2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.12.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>