<link rel="stylesheet" href="/stylesheets/new-post.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">

<%- contentFor('title') %>
Đăng bài viết
<%- contentFor('body') %>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header h2 bg-primary text-white text-center">Thêm bài viết mới</div>
            <div class="card-body">
                <form novalidate id="newPostForm">

                    <!-- Tiêu đề bài viêt-->
                    <div class="form-group row required">
                        <label for="inputTitle" class="col-md-2 col-form-label">Tiêu đề</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="title"
                                id="inputTitle" spellcheck="false">
                        </div>
                    </div>

                    <!-- chuyên mục -->
                    <div class="form-group row">
                        <label for="selectCategory" class="col-md-2 col-form-label required">Chuyên mục</label>
                        <div class="col-md-5">
                            <select class="form-control" id="selectCategory" name="category">
                            </select>
                        </div>

                        <div class="col-md-5">
                            <select class="form-control" id="selectChildCategory" name="childCategory">
                            </select>
                        </div>
                    </div>

                    <!-- tag -->
                    <div class="form-group row" id="inputTagFormGroup">
                        <label for="inputTag" class="col-md-2 col-form-label">Tag</label>
                        <div class="col-md-10">
                            <%# <input type="text" name="tag" id="inputTag" data-role="tagsinput" spellcheck="false"> %>
                            <select multiple name="tags" data-role="tagsinput" id="inputTag">

                            </select>
                        </div>
                    </div>

                    <!-- tải lên ảnh bìa -->
                    <div class="form-group row required d-flex" id="uploadThumbnailFormGroup">
                        <label for="uploadThumbnail" class="col-md-2 col-form-label">Ảnh bìa</label>
                        <div class="col-md-10">
                            <input type="file" class="form-control-file" id="uploadThumbnailButton" required onchange="readURL(this)">
                            <div class="invalid-feedback">
                                Chưa có ảnh bìa. <i class="fa fa-smile-o"></i>
                            </div>
                        </div>
                    </div>

                    <!-- hiển thị ảnh bìa -->
                    <div class="form-group row required d-none" id="displayThumbnailFormGroup">
                        <label for="uploadThumbnail" class="col-md-2 col-form-label">Ảnh bìa</label>
                        <div class="col-md-10">
                            <img src="https://dummyimage.com/300x185/123456/fff" class="img-fluid" alt="ảnh bìa" id="thumbnail">
                            <input type="file" class="form-control-file d-none" id="replaceThumbnailButton" onchange="readURL(this)">
                        </div>
                    </div>

                    <!-- Tóm tắt -->
                    <div class="form-group row required">
                        <label for="inputAbstract" class="col-md-2 col-form-label">Tóm tắt</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="5" id="inputAbstract" name="summary" required></textarea>
                        </div>
                    </div>

                    <!-- Nội dung-->
                    <div class="form-group row required" id="inputContent">
                        <label for="inputContent" class="col-md-2 col-form-label">Nội dung</label>
                        <div class="col-md-10">
                            <textarea id="editor" placeholder="Thêm nội dung" name="content" required>
                                
                            </textarea>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="form">
                        <button id="btnSubmit" type="submit" class="btn btn-primary float-right">
                            Đăng bài viết   
                        </button>
                    </div>

                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<script src="/javascripts/new-post.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<!-- CKEditor 5 -->
<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<!-- bootstrap tags input-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<!-- sweet alert 2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.12.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
