<!-- NỔI BẬT -->
<%- partial('_widget/hot') %>

<div class="row my-5">
    <div class="col-lg-4">
        <!-- MỚI NHẤT -->
        <%- partial('_widget/newest') %>
    </div>

    <div class="col-lg-8">
        <!-- XEM NHIỀU -->
        <%- partial('_widget/mostview') %>
    </div>
</div>

<!-- TOP 10 CHUYÊN MỤC -->
<%- partial('_widget/top10') %>